.chat {
  /* margin: 1em auto; */
  border-radius: 8px;
  position: relative;
  color :white !important
}
.left {
  border-bottom-left-radius: 0;
  background: #4CB9E7

}
.right {
  border-bottom-right-radius: 0;
  background: #8f9494


}
.chat::after {
  content: '';
  width: 1.5em;
  height: 1.5em;
  position: absolute;
  bottom: 0;
}
.left::after {
  left: 0;
  transform: translateX(-100%);
  background: radial-gradient(circle at 0 0, transparent, transparent 72%, #4CB9E7 72%);
}
.right::after {
  right: 0;
  transform: translateX(100%);
  background: radial-gradient(circle at 100% 0, transparent, transparent 72%, #8f9494 72%);
}