@tailwind base;
@tailwind components;
@tailwind utilities;

.image {
  max-width: 100%;
  height: auto;
  transition: filter 0.5s, opacity 0.5s;
}
.borderr {
  border: 2px solid red !important;
}
.image.loading {
  filter: blur(5px);
  opacity: 0.5;
}
.progress {
  animation: animate_progress 2s linear forwards ;
}


@keyframes animate_progress {
  0% {
    width: 0 ;
  }
  100% {
    width: 100% ;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
/* ::-webkit-scrollbar {
  width: 0;
  height: 0;
  background-color: transparent;
}
html {
  scroll-behavior: smooth;
}
 /* body{
  overflow-x: hidden;
 } */ */
 
.css-1veko3i-MuiSvgIcon-root{
  margin-top: 5px !important;
}
.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
  height: 0.5em !important;
}
/* .css-1qj5kp8 , .css-fvczrh{
  margin-top: 0 !important;
  padding: 0 20px !important;
  padding-top: 100px !important;
} */

@media (min-width: 600px)
{
  .css-96uuyl {
      width: 500px;
  }

}
/* .css-96uuyl 
{
  max-width: 1500px !important;
} */
.css-1h9uykw-MuiInputBase-input-MuiOutlinedInput-input
{
  height: 0.5em !important;
}
.border {
  border: 1px solid red;
}

.display-none {
  display: none;
}
.searchItemContainer:hover{
  background-color: #999 !important;
}
@media  (min-width:900px) {
  .Post{
    padding-left: 240px;
  }
}
.heart {
  animation: heart 2s infinite linear;
}
@keyframes heart {
  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}
 /* chatbot styles */
 .react-chatbot-kit-chat-inner-container {
  border: 1px solid #e0e0e0 !important;
}
.react-chatbot-kit-chat-bot-avatar-icon {
  background-image: url()
}
.react-chatbot-kit-chat-bot-avatar-container {
  background-image: linear-gradient(to right, rgb(96 165 250 / var(--tw-bg-opacity)), rgb(12, 159, 208), #0180ff) !important;
  color: #fff !important;
}
.react-chatbot-kit-chat-bot-avatar-letter {
  color: #fff !important;
}
.react-chatbot-kit-chat-bot-avatar-container {
  background-image: linear-gradient(to right, rgb(96 165 250 / var(--tw-bg-opacity)), rgb(12, 159, 208), #0180ff) !important;
  color: #fff !important;
}
.react-chatbot-kit-user-avatar-container {
  background-image: linear-gradient(to right, rgb(6, 82, 108), rgb(16, 94, 120), #0c4680) !important;
  color: #fff !important;
}
.react-chatbot-kit-chat-header {
  background-image: linear-gradient(to right, rgb(96 165 250 / var(--tw-bg-opacity)), rgb(12, 159, 208), #0180ff) !important;
  color: #fff !important;
}
.react-chatbot-kit-chat-btn-send {
  background-image: linear-gradient(to right, rgb(96 165 250 / var(--tw-bg-opacity)), rgb(12, 159, 208), #0180ff) !important;

}
.react-chatbot-kit-chat-bot-message {
  background-image: linear-gradient(to right, rgb(96 165 250 / var(--tw-bg-opacity)), rgb(12, 159, 208), #0180ff) !important;
}
.react-chatbot-kit-chat-input {
  color: black !important;
  background-color: #fff !important;
  border: 1px solid #e0e0e0 !important;
  border-left: none !important;
}
.react-chatbot-kit-chat-input:focus {
  outline: none !important;
  box-shadow: none !important;
}

